:root,
body {
    @apply m-0 p-0 text-[16px];
}

span {
    @apply inline-block;
}

@font-face {
    font-family: SourceHanSansSC;
    src: url('~/assets/fonts/SourceHanSansSC.otf');
    font-display: swap;
}

@font-face {
    font-family: CabinetGrotesk;
    src: url('~/assets/fonts/CabinetGrotesk.woff2') format('woff2');
    font-display: swap;
}

.font-template {
    @apply font-[CabinetGrotesk\,SourceHanSansSC];
}
